# Paired t-test   

>Paired t-test is a statistical procedure used to determine whether the mean difference between two sets of observations is zero. In a paired sample t-test, each subject or entity is measured twice, resulting in pairs of observations. Source: [statisticssolutions](http://www.statisticssolutions.com/manova-analysis-paired-sample-t-test/)

Paired t-test are used to, 
* Determine if a given medicine has an effect on patients, in which samples are collected before and after medication for the same people, and we can evaluate the statistical difference between samples    


Contents:    
1. [Theory](#theory)   
2. [Numerical example](#example)

<a id='theory'></a>


### Assumptions:
1. The dependent variable must be continuous (interval/ratio)  
2. The observations are independent of one another.   
3. The dependent variable should be normally or approximately normally distributed.   
4. The dependent variable should not contain outliers.   

### Hypothesis
|Set|	Null hypothesis	| Alternative hypothesis |No. of tails |
|---|:-----------------:|:----------------------:|:-----------:|
|1	| $\mu_1 - \mu_2 = 0$ | $\mu_1 - \mu_2 \neq 0$ |	2|
|2	| $\mu_1 - \mu_2 > 0$ | $\mu_1 - \mu_2 < 0$ | 1|
|3	| $\mu_1 - \mu_2 < 0$ | $\mu_1 - \mu_2 > 0$ | 1|


### Test method

We will use the ** paired t-test ** method.   

#### Steps:   

We will use the following nomenclature:   

$D =$   differences between two paired samples   
$d_i =$ $i^{\textrm{th}}$ observation in $D$     
$n =$   sample size    
$\overline{d} =$ sample mean of the differences    
$s_d =$ sample standard deviation of the differences   


#### Standard error (SE):   
SE$ =  \frac{\displaystyle s_d}{ \sqrt{n}} $


#### Degrees of freedom (DF):   
DF $ = n-1$


#### Test statistic:   
$t = \frac{\displaystyle \overline{d} }{\displaystyle \textrm{SE}}$

<a id='example'></a>
## Numerical example    
In this test, let's use a hypothethical example of blood glucose (BG) readings of persons with diabetes.    
The test is done twice, say before and after a given clinical treatment and we want to know if there is a significant difference after the treatment.     

The database is not real but just to be used as a toy example.   
This contains BG readings (in mg/dL) for 40 persons with diabetes at different times.

In [1]:
import pandas as pd
import numpy as np
# This is to print in markdown style
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

df = pd.read_csv('./data/BG-db.csv',index_col=0)
del df['BG 3']
df

                 BG 1        BG 2
Person ID
0           79.250358   73.749442
1           96.597034   82.233706
2           97.391662   83.178994
3           97.437917   87.440005
4           99.582073   87.637852
5          106.973556   87.798634
6          108.755841   90.425577
7          109.856949   91.364563
8          110.307037   92.284228
9          111.015324   92.859387
10         111.354548   94.473871
11         111.530763   96.107012
12         111.680026   98.595495
13         112.867892   98.598082
14         113.745639   98.668449
15         114.263260   99.257202
16         115.118794  100.419145
17         115.269176  100.945361
18         115.599247  101.080530
19         120.393208  101.389965
20         121.948551  101.535727
21         122.530320  102.418184
22         123.148471  102.809264
23         123.569314  103.119240
24         123.660453  103.259170
25         126.885812  104.440974
26         128.496115  104.639647
27         130.499971  104.757823
28         133.323962  104.877868
29         134.065456  105.663513
30         135.382230  106.596187
31         136.927011  106.865830
32         137.452118  107.695771
33         139.566750  108.590059
34         140.683276  112.475066
35         142.116238  113.281846
36         142.475077  113.459007
37         147.625708  115.518856
38         148.448909  116.371424
39         151.480060  120.529543

Given this data, we want to know if the two BG readings taken at different times (BG1 and BG2) for the 40 persons with diabetes are significantly different.    

Let's use a paired t-test as defined above.    
First, we calculate the difference between BG readings

In [2]:
def difference(a,b):
    return b-a
df['Difference']=df.apply(lambda row: difference(row['BG 1'], row['BG 2']), axis=1)
df

                 BG 1        BG 2  Difference
Person ID
0           79.250358   73.749442   -5.500916
1           96.597034   82.233706  -14.363328
2           97.391662   83.178994  -14.212668
3           97.437917   87.440005   -9.997912
4           99.582073   87.637852  -11.944221
5          106.973556   87.798634  -19.174922
6          108.755841   90.425577  -18.330264
7          109.856949   91.364563  -18.492386
8          110.307037   92.284228  -18.022808
9          111.015324   92.859387  -18.155937
10         111.354548   94.473871  -16.880677
11         111.530763   96.107012  -15.423751
12         111.680026   98.595495  -13.084531
13         112.867892   98.598082  -14.269809
14         113.745639   98.668449  -15.077190
15         114.263260   99.257202  -15.006058
16         115.118794  100.419145  -14.699649
17         115.269176  100.945361  -14.323814
18         115.599247  101.080530  -14.518717
19         120.393208  101.389965  -19.003242
20         121.948551  101.535727  -20.412824
21         122.530320  102.418184  -20.112136
22         123.148471  102.809264  -20.339207
23         123.569314  103.119240  -20.450074
24         123.660453  103.259170  -20.401284
25         126.885812  104.440974  -22.444838
26         128.496115  104.639647  -23.856468
27         130.499971  104.757823  -25.742147
28         133.323962  104.877868  -28.446094
29         134.065456  105.663513  -28.401944
30         135.382230  106.596187  -28.786043
31         136.927011  106.865830  -30.061181
32         137.452118  107.695771  -29.756347
33         139.566750  108.590059  -30.976691
34         140.683276  112.475066  -28.208210
35         142.116238  113.281846  -28.834393
36         142.475077  113.459007  -29.016070
37         147.625708  115.518856  -32.106853
38         148.448909  116.371424  -32.077485
39         151.480060  120.529543  -30.950517

Calculating the mean and standard deviation of the differences gives

In [7]:
diff = df['Difference'].values

d = diff.mean()
std = diff.std(ddof=1)

printmd('$\overline{{d}} = {}$'.format(round(d,3)))
printmd('$s_d = {}$'.format(round(std,3)))

$\overline{d} = -20.797$

$s_d = 6.997$

Now, calculate the corresponding test statistic

In [8]:
SE = std/(len(df))**0.5
DF = len(df)-1

# Mean of sample 1:
mu1 = df['BG 1'].values.mean()
mu2 = df['BG 2'].values.mean()

printmd('SE = {}'.format(round(SE,3)))
printmd('$\mu_1 = {}, \mu_2 = {}$'.format(round(mu1,2),round(mu2,2)))

TestStatistic = (mu2 - mu1)/SE

SE = 1.106

$\mu_1 = 121.23, \mu_2 = 100.44$

In [9]:
from scipy import stats
pvalue = 2* stats.t.cdf(TestStatistic, DF)
# Multiply by two, since this is two-tailed test

printmd('t-score {}'.format(round(TestStatistic,2)))
print("p-value = {}".format(round(pvalue,5)))

t-score -18.8

p-value = 0.0

The probability value for t-statistic = -19.04 is virtually 0, hence we can reject the null hypothesis and tell that the two BG readings are significantly different.

<a id='scipy'></a>   
## t-test with scipy    

Let's repeat this test with scipy

In [10]:
# Sample 1
a = df['BG 2']
b = df['BG 1']

stats.ttest_rel(a,b)

Ttest_relResult(statistic=-18.797137420879686, pvalue=3.755792607215382e-21)